<h1>CRM</h1>
<h2>Customers</h2>


<%= render partial: "customer", collection: @customers %>

  <li><%= link_to "Customers sorted by Name (Alphabetized)", "/customers/alphabetized" %></li>

  <li><%= link_to "Customers with no Email Address", "/customers/missing_email" %></li>
